/*------------------------------------*\
    $INDEX
\*------------------------------------*/

/**
 * INDEX............................Welcome!
 * NO-CARDS-AVAILABLE...............No Cards Available Styles.
 * CONTENT..........................Content Styles.
 * IFRAME...........................Iframe Styles.
 * PRELOADER........................Preloader Styles.
 * PRELOADER-ANIMATION..............Preloader animation.
 */


/*------------------------------------*\
    $NO-CARDS-AVAILABLE
\*------------------------------------*/
.sce-no-cards-available{
  display: none;
  background-color: #2486EC;
  width: 370px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .sce-no-cards-available-close{
    position: absolute;
    top: 21px;
    right: 21px;
    width: 16px;
    height: 16px;
    background-image: url('https://lh3.googleusercontent.com/0f0ICjMZefN0_XQ8rXKOMc45h6Nv19iAHDTQwq_WYqjMDEZnkjys41fhW9DQHbAlanJ1cFuPTBy7Egc8RgS-LA=s0-e365');
  }

  .sce-no-cards-available-image{
    width: 86px;
    height: 80px;
    margin-bottom: 20px;
    background-image: url('https://lh3.googleusercontent.com/IvRm0Coe_9fGbM0PO3jgaQ6ARPW8UGs4WdAJiiXKCyUXARuMRfdvrybYZEPX6SRS_y0LqDrDx2c8grIWrSEz-zA=s0-e365');
  }

  .sce-no-cards-available-message{
    width: 290px;
    text-align: center;
    margin: 0;
    color: #FFF;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 50px;
  }

  .sce-no-cards-available-button{
    background-color: #FFF;
    padding: 10px 13px;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #212121;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }



/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
.sce-content {
  width: 370px;
  height: 400px;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 3px;
  z-index: 999999;
  box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.36), 0 16px 16px 0 rgba(0, 0, 0, 0.04);
}



/*------------------------------------*\
    $IFRAME
\*------------------------------------*/
.sce-iframe{
  display: none;
  width: 370px;
  height: 400px;
  border: none;
  border-radius: 3px;
}



/*------------------------------------*\
    $PRELOADER
\*------------------------------------*/
.sce-preloader {
  width: 370px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

  .sce-preloader .sce-loader-container {
    .scanvas-layout-vertical;
    .scanvas-layout-center-center;
    .scanvas-layout-fit;
  }

    .sce-preloader .sce-loader {
      display: block;
      position: relative;
      z-index: 1500;
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;

      border: 3px solid transparent;
      border-top-color: #1E88E6 !important;
      border-radius: 50%;

      will-change: transform;
      pointer-events: none;

      -webkit-animation: sce-app-preloader-spin 2s linear infinite;
      -moz-animation:    sce-app-preloader-spin 2s linear infinite;
      -o-animation:      sce-app-preloader-spin 2s linear infinite;
      -ms-animation:     sce-app-preloader-spin 2s linear infinite;
      animation:         sce-app-preloader-spin 2s linear infinite;
    }

      .sce-preloader .sce-loader .sce-span01 {
        content: "";
        position: absolute;
        margin: 0;

        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;

        border: 3px solid transparent;
        border-top-color: #8E24AA !important;
        border-radius: 50%;

        will-change: transform;
        pointer-events: none;

        -webkit-animation: sce-app-preloader-spin 3s linear infinite;
        -moz-animation:    sce-app-preloader-spin 3s linear infinite;
        -o-animation:      sce-app-preloader-spin 3s linear infinite;
        -ms-animation:     sce-app-preloader-spin 3s linear infinite;
        animation:         sce-app-preloader-spin 3s linear infinite;
      }

      .sce-preloader .sce-loader .sce-span02 {
        content: "";
        position: absolute;
        margin: 0;

        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;

        border: 3px solid transparent;
        border-top-color: #439F47 !important;
        border-radius: 50%;

        will-change: transform;
        pointer-events: none;

        -webkit-animation: sce-app-preloader-spin 1.5s linear infinite;
        -moz-animation:    sce-app-preloader-spin 1.5s linear infinite;
        -o-animation:      sce-app-preloader-spin 1.5s linear infinite;
        -ms-animation:     sce-app-preloader-spin 1.5s linear infinite;
        animation:         sce-app-preloader-spin 1.5s linear infinite;
      }

      .sce-preloader  .sce-loader .sce-span03 {
        content: "";
        position: absolute;
        margin: 0;

        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;

        border: 3px solid transparent;
        border-top-color: #FDD835 !important;
        border-radius: 50%;

        will-change: transform;
        pointer-events: none;

        -webkit-animation: sce-app-preloader-spin 1.0s linear infinite;
        -moz-animation:    sce-app-preloader-spin 1.0s linear infinite;
        -o-animation:      sce-app-preloader-spin 1.0s linear infinite;
        -ms-animation:     sce-app-preloader-spin 1.0s linear infinite;
        animation:         sce-app-preloader-spin 1.0s linear infinite;
      }



/*------------------------------------*\
    $PRELOADER-ANIMATION
\*------------------------------------*/
@-webkit-keyframes sce-app-preloader-spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform:    rotate(360deg);
    -ms-transform:     rotate(360deg);
    -o-transform:      rotate(360deg);
  }
}

@keyframes sce-app-preloader-spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform:    rotate(360deg);
    -ms-transform:     rotate(360deg);
    -o-transform:      rotate(360deg);
  }
}