/*------------------------------------*\
    $INDEX
\*------------------------------------*/

/**
 * INDEX............................Welcome!
 * PAGE.............................Page Styles.
 * PRELOADER........................Preloader Styles.
 * PRELOADER-ANIMATION..............Preloader animation.
 */






/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html, body {
  padding: 0;
  margin: 0;
  background-color: #e1dfdf;
}



/*------------------------------------*\
    $PRELOADER
\*------------------------------------*/
.scanvas-app-preloader {
  width: 370px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

  .scanvas-app-preloader .loader-container {
    .scanvas-layout-vertical;
    .scanvas-layout-center-center;
    .scanvas-layout-fit;
  }

    .scanvas-app-preloader #loader {
      display: block;
      position: relative;
      z-index: 1500;
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;

      border: 3px solid transparent;
      border-top-color: #1E88E6 !important;
      border-radius: 50%;

      will-change: transform;
      pointer-events: none;

      -webkit-animation: scanvas-app-preloader-spin 2s linear infinite;
      -moz-animation:    scanvas-app-preloader-spin 2s linear infinite;
      -o-animation:      scanvas-app-preloader-spin 2s linear infinite;
      -ms-animation:     scanvas-app-preloader-spin 2s linear infinite;
      animation:         scanvas-app-preloader-spin 2s linear infinite;
    }

      .scanvas-app-preloader #loader .span01 {
        content: "";
        position: absolute;

        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;

        border: 3px solid transparent;
        border-top-color: #8E24AA !important;
        border-radius: 50%;

        will-change: transform;
        pointer-events: none;

        -webkit-animation: scanvas-app-preloader-spin 3s linear infinite;
        -moz-animation:    scanvas-app-preloader-spin 3s linear infinite;
        -o-animation:      scanvas-app-preloader-spin 3s linear infinite;
        -ms-animation:     scanvas-app-preloader-spin 3s linear infinite;
        animation:         scanvas-app-preloader-spin 3s linear infinite;
      }

      .scanvas-app-preloader #loader .span02 {
        content: "";
        position: absolute;

        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;

        border: 3px solid transparent;
        border-top-color: #439F47 !important;
        border-radius: 50%;

        will-change: transform;
        pointer-events: none;

        -webkit-animation: scanvas-app-preloader-spin 1.5s linear infinite;
        -moz-animation:    scanvas-app-preloader-spin 1.5s linear infinite;
        -o-animation:      scanvas-app-preloader-spin 1.5s linear infinite;
        -ms-animation:     scanvas-app-preloader-spin 1.5s linear infinite;
        animation:         scanvas-app-preloader-spin 1.5s linear infinite;
      }

      .scanvas-app-preloader  #loader .span03 {
        content: "";
        position: absolute;

        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;

        border: 3px solid transparent;
        border-top-color: #FDD835 !important;
        border-radius: 50%;

        will-change: transform;
        pointer-events: none;

        -webkit-animation: scanvas-app-preloader-spin 1.0s linear infinite;
        -moz-animation:    scanvas-app-preloader-spin 1.0s linear infinite;
        -o-animation:      scanvas-app-preloader-spin 1.0s linear infinite;
        -ms-animation:     scanvas-app-preloader-spin 1.0s linear infinite;
        animation:         scanvas-app-preloader-spin 1.0s linear infinite;
      }



/*------------------------------------*\
    $PRELOADER-ANIMATION
\*------------------------------------*/
@-webkit-keyframes scanvas-app-preloader-spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform:    rotate(360deg);
    -ms-transform:     rotate(360deg);
    -o-transform:      rotate(360deg);
  }
}

@keyframes scanvas-app-preloader-spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform:    rotate(360deg);
    -ms-transform:     rotate(360deg);
    -o-transform:      rotate(360deg);
  }
}